body {
  color: white;
  background-image: linear-gradient(to bottom right, black, rgb(42, 42, 42));
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  font-weight: 700;
  font-size: 90px;
  padding: 30px 0px 0px 30px;
}

main {
  align-self: center;
}

/* * {
  border: 1px solid red !important;
} */