body {
  position: relative;
  color: white;
  background-image: linear-gradient(to bottom right, black, rgb(42, 42, 42));
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 30px;
  box-sizing: border-box;
}

body > * {
  margin-bottom: 1rem;
}

header {
  font-weight: 700;
  font-size: 90px;
}

main {
  width: 100%;
  flex-grow: 1;
  align-self: center;
  display: flex;
  justify-content: center;
}

.tick text {
  font-size: 14px;
}

.axis-title {
  font-size: 18px;
}

.chart-title {
  font-size: 26px;
}