.hero {
  /* margin-top: 10%; */
  text-align: center;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
}

.hero > h2 {
  font-size: 34px;
  line-height: 130%;
  max-width: 650px;
}

.hero > button {
  background-color: #1db954;
  text-transform: uppercase;
  color: white;
  padding: 1em;
  border-radius: 28px;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 700;
  margin-top: 15px;
  transition: .2s;
}

.hero > button:hover {
  background-color: #1ed760;
}